<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.andika.ordermartabak">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/library"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.example.andika.ordermartabak.SplashScreen">
            android:theme="@style/Splashscreen"
            android:screenOrientation="portrait"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
        </activity>

        <activity android:name=".OrderActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".TopMenuActivity" />
        <activity android:name=".young_adult" />
        <activity android:name=".Fantasy" />
        <activity android:name=".Fiction" />
        <activity android:name=".Romance" />
        <activity android:name=".Mystery" />

    </application>

</manifest>